@import "tailwindcss";
@plugin "@tailwindcss/typography";

html{
  scroll-behavior: smooth;
}
@layer utilities {
  .animate-pulse-slow {
    animation: pulse 5s ease-in-out infinite;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --vh: 1vh;

}

.your-class{
  font-size: clamp(16px,2vw,20px);
}

@theme {
  --font-poppins:var(--font-poppins); 
  --breakpoint-laptop: 67.5rem; /* 1380px */
  --breakpoint-laptop-md: 86.875rem; /* 1390px */
  --breakpoint-desktop: 81.25rem;  /* 1300px */
  --breakpoint-mobile-sm: 26.875rem; /* 480px */
  --breakpoint-tablet: 55.625rem; /* 890px */
  --breakpoint-tablet: 55.625rem; /* 890px */
  --breakpoint-1110px: 68.75rem; /* 890px */
  --breakpoint-1080px: 67.5rem; /* 890px */
  

  /* Custom font sizes with clamp(), scaled for 1440px */
  --font-size-sm: clamp(0.75rem, 1.2vw, 0.875rem); /* Figma ~16px -> 12px */
  --font-size-base: clamp(0.875rem, 1.5vw, 1rem); /* Figma ~21.33px -> 16px */
  --font-size-lg: clamp(1.125rem, 2vw, 1.25rem); /* ~24px -> 18px */
  --font-size-xl: clamp(1.5rem, 3vw, 1.875rem); /* ~40px -> 30px */
  --spacing-4: 1.5rem; /* 32px -> 24px */
  --spacing-6: 2.25rem; /* 48px -> 36px */
  --spacing-8: 3rem; /* 64px -> 48px */
  --max-width-form: 450px; /* 600px -> 450px */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.swiper-pagination-bullet {
  background-color: white !important;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


.flag-dropdown{
  border-radius: 5px 0px 0px 5px !important;
}

/* 
.custom-range::-webkit-slider-thumb {
  background-color: #ef4444;
}

.custom-range::-webkit-slider-runnable-track {
  background-color: #fecaca;
}
.custom-range::-moz-range-thumb {
  background-color: #ef4444;
}
.custom-range::-moz-range-track {
  background-color: #fecaca;
} */


/* Custom CSS */
.custom-range {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 9999px;
  outline: none;
}

/* Track */
.custom-range::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 9999px;
}
.custom-range::-moz-range-track {
  height: 8px;
  border-radius: 9999px;
}

/* Thumb */
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: white;
  border-radius: 9999px;
  cursor: pointer;
  margin-top: -6px;
  border: 1px solid #FF1645;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.custom-range::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background: #ef4444;
  border-radius: 9999px;
  cursor: pointer;
  border: 2px solid #FF1645;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}


 /* Hide arrows in Chrome, Safari, Edge, Opera */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      font-size: 14px;

    }

    /* Hide arrows in Firefox */
    input[type=number] {
      -moz-appearance: textfield;
      font-size: 14px;
    }

/* .content-wrapper h1,
.content-wrapper h2,
.content-wrapper h3,
.content-wrapper h4,
.content-wrapper h5,
.content-wrapper h6 {
  @apply font-poppins mb-[10px] mt-0 font-medium leading-8 text-4xl;
} */

/* .content-wrapper-agent-verification h1,
.content-wrapper-agent-verification h2,
.content-wrapper-agent-verification h3,
.content-wrapper-agent-verification h4,
.content-wrapper-agent-verification h5,
.content-wrapper-agent-verification h6 {
  @apply font-poppins mb-[10px] mt-0 font-medium md:leading-8 md:text-2xl text-2xl leading-6;
} */



.content-wrapper-home h1{
  @apply font-poppins mb-2 text-black mt-0 font-medium leading-6 md:leading-4 text-xl;
}
.content-wrapper-home h2{
  @apply font-poppins mb-2 text-black mt-0 font-medium leading-6 md:leading-4 text-lg;
}
.content-wrapper-home h3{
  @apply font-poppins mb-2 text-black mt-0 font-medium leading-6 md:leading-4 text-sm;
}

.content-wrapper-home h4{
  @apply font-poppins mb-2 text-black mt-0 font-medium leading-6 md:leading-4 text-sm;
}

.content-wrapper-about h1{
  @apply font-poppins mb-2 text-black mt-0 font-medium leading-6 md:leading-10 text-4xl;
}
.content-wrapper-about h2{
  @apply font-poppins mb-2 text-black mt-0 font-medium leading-6 md:leading-[30px] text-3xl;
}
.content-wrapper-about h3{
  @apply font-poppins mb-2 text-black mt-0 font-medium leading-6 md:leading-[26px] text-2xl;
}

.content-wrapper-about h4{
  @apply font-poppins mb-2 text-black mt-0 font-medium leading-6 md:leading-[26px] text-xl;
}

.content-wrapper-agent-verification h1,
.content-wrapper-agent-verification h2,
.content-wrapper-agent-verification h3,
.content-wrapper-agent-verification h4{
  @apply font-poppins mb-2 text-black mt-0 font-medium leading-6 md:leading-6 text-xl;
}

.content-wrapper-agent-verification p{
  @apply font-poppins w-full leading-[24px] text-sm font-normal text-[#666666] mt-0 mb-0
}

.content-wrapper-about p {
  @apply font-poppins w-full leading-[28px] text-sm font-normal text-black mt-0 mb-0
}

.content-wrapper-home p {
  @apply font-poppins w-full leading-[28px] text-sm font-normal text-black mt-0 mb-0
}



.react-tel-input .flag-dropdown{
     
    background-color: transparent!important;
    border: none!important;
}

.react-tel-input .selected-flag{
     padding: 0px 0px 0px 12px!important;
}

.react-tel-input .selected-flag .flag{
      position: absolute;
    top: 50%;
    margin-top: -5px;
}

.react-tel-input .form-control{
      border-radius: 0.25rem!important;
      background-color: #F7F7F7!important;
    border-width: 1.5px!important;
    color:#666666!important;
    border-color: #DEDEDE!important;
}

.react-tel-input .flag-dropdown.open .selected-flag{
  background-color: transparent!important;
}

.react-tel-input .selected-flag:hover, .react-tel-input .selected-flag:focus{
  background-color: transparent!important;

}



.dot {
  width: 10px;
  height: 10px;
  background: #dc2626;
  border-radius: 50%;
  animation: blink 0.8s infinite ease-in-out;
  opacity: 0.2;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.delay-1 {
  animation-delay: 0.25s;
}

.delay-2 {
  animation-delay: 0.3s;
}

@keyframes blink {
  0%, 100% { opacity: 0.5; }
  50% { opacity: 1; }
}