@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme {
  --font-poppins:var(--font-poppins); 
  --breakpoint-laptop: 67.5rem; /* 1380px */
  --breakpoint-laptop-md: 86.875rem; /* 1390px */
  --breakpoint-desktop: 81.25rem;  /* 1300px */
  --breakpoint-mobile-sm: 26.875rem; /* 480px */
  --breakpoint-tablet: 55.625rem; /* 890px */
  --breakpoint-tablet: 55.625rem; /* 890px */
  --breakpoint-1110px: 68.75rem; /* 890px */
  --breakpoint-1080px: 67.5rem; /* 890px */
  

  /* Custom font sizes with clamp(), scaled for 1440px */
  --font-size-sm: clamp(0.75rem, 1.2vw, 0.875rem); /* Figma ~16px -> 12px */
  --font-size-base: clamp(0.875rem, 1.5vw, 1rem); /* Figma ~21.33px -> 16px */
  --font-size-lg: clamp(1.125rem, 2vw, 1.25rem); /* ~24px -> 18px */
  --font-size-xl: clamp(1.5rem, 3vw, 1.875rem); /* ~40px -> 30px */
  --spacing-4: 1.5rem; /* 32px -> 24px */
  --spacing-6: 2.25rem; /* 48px -> 36px */
  --spacing-8: 3rem; /* 64px -> 48px */
  --max-width-form: 450px; /* 600px -> 450px */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-pagination-bullet {
  background-color: white !important;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}



